@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

li,a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

ul{
  text-decoration: none;
}

body {
  background-color: #19181A;
}


/* top nav */

form{
  margin: 30px auto 10px;
  text-align: center;
}
/*plusic*/
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progres bar POPRAVITI! */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* insta */
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* pop up slika */
.backdrop{
  position: fixed;
  display:flex;
  margin-top: 20px;
  margin-left: 40px;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background: rgba(0,0,0,0);
}
.backdrop img{
  object-fit:contain;
  display: block;
  margin-top: 50px;
  margin: 60px 60px;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  background-color: rgb(33,37,41);
  border: 3px solid white; 
}


/*za tekst kad ne znas bolje*/
h1{
  text-align: center;
}

.h11{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}

h3{
  padding-top: 30px;
  text-align: center;
  color: white;
  margin-left: 150px;
  margin-right: 150px;
}

h4{
  padding-top: 150px;
  text-align: center;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.h2vrh{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color:white;
  margin-left: 150px;
  margin-right: 150px;
}
/*slajder*/
img {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}


/* slajter za partnere POPRAVITI!*/
/*
button.rec-dot{
  background-color: rgb(75, 72, 72);
  box-shadow: 0 0 1px 3px rgb(75, 72, 72);
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px rgb(0, 0, 0);
}


button.rec-arrow{
  background-color:  rgb(75, 72, 72) ;
  box-shadow: 0 0 1px 3px rgb(75, 72, 72);
}

button.rec-arrow:hover, button.rec-arrow:enabled,button.rec-arrow:disabled,button.rec-arrow:focus
{ 
  background-color:  rgba(212, 14, 14) ;
  box-shadow: 0 0 1px 3px rgba(194, 0, 0);
}
*/

/* za drustvene mreze */

.social-container {
  padding: 68px 50px;
}

a.social {
  padding-left: 35px;
  transition: transform 250ms; 
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

.container1{
  padding-top: 20px;
}

.navbar {
  max-height: 60px;
}

.navbarlogo{
  padding-bottom: 2px;
  text-align: left;
}

.kontaktinfo{
  padding-top: 45px;
  text-align: center;
  color: white;
}

.kontaktinfo2{
  padding-top: 5px;
  text-align: center;
  color: white;
}

.ave:hover{
   color: whitesmoke;
}

.kontaktforma{
  padding-top: 60px;
}

.kontakt2{
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
}

.label{
  font-size: 16px;
  text-align: right;
  padding-top: 25px;
}

.mapa{
text-align: center;
}

.formadugme{
  background-color:gray;
}

.zakazivanje{
  text-align:justify;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.cardVisina{
  height: 220px;
  padding-top: 40px;
}

.card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.galerija2{
  margin-top: 30px;
  margin-bottom: 20px;
}

.galerija3{
  margin-left: 20px;
  margin-right: 20px;
}

.galrija4{
  margin-top: 50px;
}

.galerija5{
  margin-top: 90px;
}

.galerijasnimci{
  margin-left: 40px;
  margin-right: 30px;
}

input{
  margin-top: 20px;
  width: 500px;
  height: 50px;
  color: black;
}

.kalendar{
  position:relative;
  text-align: center;
  margin-top: 20px;
  width: 500px;
  height: 50px;
  color: black;
}

div.react-datepicker-popper{
  margin-left: 200px;
}

a.nav-link{
color: rgba(255,255,255,.55)
}

a.nav-link:hover{
  color: whitesmoke;
}

button.styles_scroll-to-top__2A70v
{
  height: 50px;
  width: 50px;
}

a.carousel-control-next-icon{
background-color: black;
background: black;
}

